body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #a0b1c9;
  font-family: "Arial", sans-serif;
}

#gameTitle {
  font-size: 60px;
  color: #333;
  margin-bottom: 20px;
}

.hidden-message {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #f44336;
  color: #fff;
  border-radius: 5px;
}

.upgrades {
  display: flex;
  flex-direction: column;
}
.cookie-container {
  text-align: center;
}

.cookie {
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

#cookieCount {
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

#cpsDisplay {
  font-size: 24px;
  color: #333;
}

button {
  margin: 10px;
  padding: 8px 16px;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  background-color: #3d4e50;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-out;
}

button:hover {
  background-color: #45a049;
}

.cookie-clicked {
  animation: scaleUpAndDown 0.075s ease-out;
}

@keyframes scaleUpAndDown {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.upgradeImage {
  width: 20px;
  margin-right: 10px;
}
